﻿@model PostDto
<h3 class="text-dark text-center">@this.TempData["Successfully Created"]</h3>
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class"text-primary">Create Post</h2>
        </div>
        <div class="mb-3">
            <label asp-for="Title"></label>
            <input asp-for="Title " class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="Content">Content</label>
            <textarea class="form-control" id="exampleTextarea" asp-for="Content" rows="3"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <div class="p-3">
            <button type="submit" class="btn btn-primary">Create</button>
            <a asp-controller="Posts" asp-action="Index" class="btn btn-secondary" style="width:150px">
                Back to All Posts
            </a>
        </div>
    </div>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }