﻿@{
    this.ViewData["Title"] = "Edit Post";
}
@model PostEditModel

<form method="post" asp-action="Edit">
    <div align="right"> 
        <div class="p-3">
            <button type="submit" class="btn btn-primary" name="btnDelete" value="@Model.Post.Id">Delete</button>
        </div>
    </div>
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class"text-primary">Edit Post</h2>
        </div>
        <div class="mb-3">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="">Content</label>
            <input class="form-control" asp-for="Content" rows="3" />
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Tag"></label>
            <input asp-for="Tag" class="form-control" />
            <span asp-validation-for="Tag" class="text-danger"></span>
        </div>
        <div class="mb-3 visually-hidden">
            <label asp-for="Post.Id"></label>
            <input asp-for="Post.Id" class="form-control" />
            <span asp-validation-for="Post.Id" class="text-danger"></span>
        </div>


        <div class="p-3">
            <button type="submit" class="btn btn-primary" name="button" value="@Model.Post.Id">Edit</button>
            <a asp-controller="Posts" asp-action="Personal" class="btn btn-secondary" style="width:150px">
                Back to My Posts
            </a>
            <a asp-controller="Posts" asp-action="Index" class="btn btn-secondary" style="width:150px">
                Back to All Posts
            </a>
        </div>
        
    </div>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }