﻿@using ForumSystem.Data.Models.Enums
@{
    ViewData["Title"] = "Posts";
}
@model PostsIndexModel

<div class="s003">
    <form asp-controller="Posts" asp-action="Index" method="get">
        <div class="inner-form">
            <div class="input-field first-wrap">
                <div class="input-select">
                    <select data-trigger="" name="option">
                        <option placeholder="">All Posts</option>
                        <option value="Title">Title</option>
                        <option value="Tag">Tag</option>
                        <option value="Username">Username</option>
                    </select>
                </div>
            </div>
            <div class="input-field second-wrap">
                <input type="text" placeholder="Enter Keywords?" name="input" />
            </div>
            <div class="input-field third-wrap">
                <button class="btn-search" type="submit">
                    <svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
                    </svg>
                </button>
            </div>
        </div>
    </form>
    <script src="~/js/searchBar/choices.js"></script>
    <script>
        const choices = new Choices('[data-trigger]',
            {
                searchEnabled: false,
                itemSelectText: '',
            });
    </script>
</div>

@if (!(bool)this.ViewData["isBlocked"])
{
    @:<div class="container p-3">
        <div class="row pt-4">
            <div class="col-10">
                <h2 class="text-primary">Posts</h2>
            </div>
            <div class="col" align="right">
                <a asp-controller="Posts" asp-action="Create" class="btn btn-primary" style="width:150px">
                    <i class="bi bi-plus-lg">Create Post</i>
                </a>
            </div>
        </div>
}

    <h3 class="text-dark text-center">@this.TempData["Successfully Voted"]</h3>
    <h3 class="text-dark text-center">@this.TempData["Successfully Deleted"]</h3>
    <h3 class="text-dark text-center">@this.TempData["Unauthorized"]</h3>
    <h3 class="text-dark text-center">@this.TempData["Posts Not Found"]</h3>
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Post Title
                </th>
                <th>
                    Post Content
                </th>
                <th>
                    Tags
                </th>
                <th>
                    User
                </th>
                <th>
                    Likes
                </th>
            </tr>
        </thead>
        <tbody>

        @foreach (var post in Model.Posts)
        {
                <tr>
                    <td width="20%">
                    @post.Title
                    </td>
                    <td width="30%">
                    @post.Content
                    </td>

                    <td width="10%">
                    @string.Join(", ",Model.PostTagsContent[post.Id])
                    </td>
                    <td width="6%">
                    @post.User.Username
                    </td>
                    <td width="4%" align="center">
                    @post.Likes
                    </td>
                    <td width="4%" align="center">
                        <a asp-controller="Comments" asp-action="GetComments" asp-route-postId="@post.Id" class="btn btn-secondary">Comments</a>
                    </td>
                    <form asp-controller="Posts" asp-action="Index" method="post">
                    <td width="4%" align="center">
                        <button type="submit" class="btn btn-secondary" name="button" value="Like,@post.Id">
                            <i class="bi bi-hand-thumbs-up"></i>
                        </button>
                    </td>
                    <td width="4%" align="center">
                        <button type="submit" class="btn btn-secondary" name="button" value="Dislike,@post.Id">
                            <i class="bi bi-hand-thumbs-down"></i>
                        </button>
                    </td>
                    @if ((bool)this.ViewData["IsAdmin"])
                    {
                        <td width="4%" align="center">
                            <button type="submit" class="btn btn-secondary" name="button" value="@post.Id" onclick="return confirm('You are going to delete post!')">
                                <i class="bi bi-trash3-fill"></i>
                            </button>
                        </td>
                    }
                    </form>
                </tr>
        }

        </tbody>
    </table>
</div>