﻿@{
    this.ViewData["Title"] = "My Posts";
}
@model PostsIndexModel

<h3 class="text-dark text-center">@this.TempData["Successfully Edited"]</h3>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Post Title
            </th>
            <th>
                Post Content
            </th>
            <th>
                Tags
            </th>
            <th>
                User
            </th>
            <th>
                Likes
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var post in Model.Posts)
        {
            <tr>
                <td width="20%">
                    @post.Title
                </td>
                <td width="30%">
                    @post.Content
                </td>

                <td width="10%">
                    @string.Join(", ",Model.PostTagsContent[post.Id])
                </td>
                <td width="6%">
                    @post.User.Username
                </td>
                <td width="4%" align="center">
                    @post.Likes
                </td>
                <td width="4%" align="center">
                    <a asp-controller="Comments" asp-action="GetComments" asp-route-postId="@post.Id" class="btn btn-secondary">Comments</a>
                </td>
                <form asp-controller="Posts" asp-action="Index" method="post">
                <td width="4%" align="center">
                    <button type="submit" class="btn btn-secondary" name="button" value="Like,@post.Id">
                        <i class="bi bi-hand-thumbs-up"></i>
                    </button>
                </td>
                <td width="4%" align="center">
                    <button type="submit" class="btn btn-secondary" name="button" value="Dislike,@post.Id">
                        <i class="bi bi-hand-thumbs-down"></i>
                    </button>
                </td>
                </form>
                <td width="4%" align="center">
                    <a asp-controller="Posts" asp-action="Edit" asp-route-postId="@post.Id" class="btn btn-secondary">Edit</a>
                </td>
            </tr>
        }

    </tbody>
</table>