﻿@model List<User>

@{
    ViewData["Title"] = "AllUsers";
    var notFound = TempData["NotFound"] as string;
    bool isAdmin = this.Context.Session.GetString("Role") == "Admin";
}

<br />
<h1>Gosho is God!</h1>
<hr />

<div class="s003">
    <form asp-controller="Users" asp-action="AllUsers" method="get">
        <div class="inner-form">
            <div class="input-field first-wrap">
                <div class="input-select">
                    <select data-trigger="" name="option">
                        <option placeholder="">All Users</option>
                        <option value="Username">Username</option>
                        <option value="FirstName">Firstname</option>
                        <option value="LastName">Lastname</option>
                        <option value="Email">Email</option>
                    </select>
                </div>
            </div>
            <div class="input-field second-wrap">
                <input type="text" placeholder="Enter Keywords?" name="input" />
            </div>
            <div class="input-field third-wrap">
                <button class="btn-search" type="submit">
                    <svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
                    </svg>
                </button>
            </div>
        </div>
    </form>
    <script src="~/js/searchBar/choices.js"></script>
    <script>
        const choices = new Choices('[data-trigger]',
            {
                searchEnabled: false,
                itemSelectText: '',
            });
    </script>
</div>


@if (!string.IsNullOrEmpty(notFound))
{
    <h3 class="invalid-input" style="padding:40px">@notFound</h3>
}
else
{
    <hr />
    <h3>Here are our Gosho members:</h3>
    <hr />
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">
                    <label asp-controller="Users" asp-action="AllUsers">FirstName</label>
                </th>
                <th scope="col">
                    <label asp-controller="Users" asp-action="AllUsers">LastName</label>
                </th>
                <th scope="col">
                    <label asp-controller="Users" asp-action="AllUsers">Email</label>
                </th>
                <th scope="col">
                    <label asp-controller="Users" asp-action="AllUsers">Username</label>
                </th>
                <th scope="col">
                    <label asp-controller="Users" asp-action="AllUsers">Posts created</label>
                </th>
                @if (isAdmin)
                {
                    <th scope="col">Actions</th>
                }
            </tr>
        </thead>

        <tbody>
            @{
                int counter = 1;

                foreach (var user in this.Model)
                {
                        <tr>
                            <th scope="row">@counter</th>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                            <td>@user.Email</td>
                            <td>@user.Username</td>
                            <td>@user.Posts.Count</td>
                            @if (isAdmin)
                        {
                                <td>
                                    <a asp-controller="Users" asp-action="Edit" asp-route-userId="@user.Id" class="btn btn-primary">Edit</a>
                                    <a asp-controller="Users" 
                                       asp-action="Delete" 
                                       asp-route-userId="@user.Id"
                                       class="btn btn-primary"
                                       onclick="return confirm('You are going to delete user!')">Delete</a>
                                </td>
                        }
                        </tr>

                    counter++;
                }
            }
        </tbody>
    </table>
}

<!-- Delete user modal -->
<div class="modal fade" id="modalLong" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLongTitle">You are going to delete user!</h5>
                <button type="button"
                        class="btn-close"
                        data-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure about that?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
                    Cancel
                </button>
                <button id="continueToDelete" type="button" value="delete"  class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
</div>

