﻿@model ForumSystem.Data.Models.User

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>@Model.Username</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        @if (Model.IsAdmin)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IsAdmin)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IsAdmin)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IsBlocked)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IsBlocked)
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-controller="Users" asp-action="Edit" asp-route-userId="@Model.Id">Edit</a> |
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</div>
