﻿@{
    ViewData["Title"] = "About";
}

<br />
<h1 >About Gosho</h1>

<div>
    <center>
        <p>
            This is forum for Gosho and his uniqueness. Gosho is very nice and very kind wolf.. Ohh sorry I forgot to mention that Gosho is a wolf.<br />
            Here I can show you how he looks like...
        </p>
        <img src="~/img/Gosho_in_true_form.jpg" width="300px" height="200px" />
        <p>
            Isn't he astonishing ?
        </p>
    </center>
</div>
