﻿@model Tuple<List<PostResponseDto>, List<PostResponseDto>>

@{
    ViewData["Title"] = "Home";
}
<br />
<h1>Welcome To Gosho's forum!</h1>

<hr />
<h3>Here are most commented posts</h3>
<hr />
<table class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">
                <label asp-controller="Home" asp-action="Index">Title</label>
            </th>
            <th scope="col">
                <label asp-controller="Home" asp-action="Index">Content</label>
            </th>
            <th scope="col">
                <label asp-controller="Home" asp-action="Index">Username</label>
            </th>
            <th scope="col">
                <label asp-controller="Home" asp-action="Index">Likes</label>
            </th>
            <th scope="col">
                <label asp-controller="Home" asp-action="Index">Tags</label>
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int counter = 1;

            foreach (var post in this.Model.Item1)
            {
                <tr>
                    <th scope="row">@counter</th>
                    <td>@post.Title</td>
                    <td>@post.Content</td>
                    <td>@post.Username</td>
                    <td>@post.Likes</td>
                    <td>@string.Join(", ",post.Tags)</td>
                </tr>

                counter++;
            }
        }
    </tbody>
</table>

<hr />
<h3>Here are recently created posts</h3>
<hr />
<table class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">
                <label asp-controller="Home" asp-action="Index">Title</label>
            </th>
            <th scope="col">
                <label asp-controller="Home" asp-action="Index">Content</label>
            </th>
            <th scope="col">
                <label asp-controller="Home" asp-action="Index">Username</label>
            </th>
            <th scope="col">
                <label asp-controller="Home" asp-action="Index">Likes</label>
            </th>
            <th scope="col">
                <label asp-controller="Home" asp-action="Index">Tags</label>
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int counter2 = 1;

            foreach (var post in this.Model.Item2)
            {
                <tr>
                    <th scope="row">@counter2</th>
                    <td>@post.Title</td>
                    <td>@post.Content</td>
                    <td>@post.Username</td>
                    <td>@post.Likes</td>
                    <td>@string.Join(",",post.Tags)</td>
                </tr>

                counter2++;
            }
        }
    </tbody>
</table>