﻿@model ForumSystem.Data.Models.UserLogin

@{
    ViewData["Title"] = "Login";
    var wrongInput = TempData["WrongCredentials"] as string;
}

<br />
<h1>Welcome back Gosho member</h1>
<h5>Please enter your credentials to continue your journey:</h5>
<hr />

@if (!string.IsNullOrEmpty(wrongInput))
{
    <h3 class="invalid-input" style="padding:40px">@wrongInput</h3>
}

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Home" asp-action="Login" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br />
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <br />
    <a asp-controller="Home" asp-action="Index">Back to main page</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }