﻿@{
    ViewData["Title"] = "Create comment";
}
@model CommentsModel

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-10">
            <h2 class="text-primary">Comments</h2>
        </div>
    </div>

    <div>
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Post Title
                    </th>
                    <th>
                        Post Content
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td width="33%">
                        @Model.Post.Title
                    </td>
                    <td width="49%">
                        @Model.Post.Content
                    </td>

                    <td width="18%" align="center">
                        <a asp-controller="Comments" asp-action="Create" class="btn btn-primary">
                            <i class="bi bi-plus-lg">Add comment</i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />

    <form method="post">
        <div class="form-group">
            <label for="Content">Content</label>
            <textarea class="form-control" id="exampleTextarea" asp-for="Content" rows="3"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
          <br/>
          <button name="Submit" value="@Model.Post.Id" class="btn btn-primary"> Submit </button>
          <a asp-controller="Comments" asp-action="GetComments" asp-route-postId="@Model.Post.Id" class="btn btn-secondary" style="width:150px">
                Reset
            </a> 
        </div>
    </form>
    <br/>

    <div>
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Comment Content
                    </th>
                    <th>
                        Created By
                    </th>
                    <th>

                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var comment in Model.Comments)
                {
                    <tr>
                        <td width="20%">
                            @comment.Content
                        </td>
                        <td width="30%">
                            @comment.User.Username
                        </td>

                        <td width="4%" align="center">
                            <a asp-controller="Comments" asp-action="Edit" asp-route-commentId="@comment.Id" class="btn btn-secondary">Edit</a>
                        </td>

                        <td width="4%" align="center">
                            <a asp-controller="Comments" asp-action="Delete" asp-route-commentId="@comment.Id" class="btn btn-secondary">Delete</a>
                        </td>

                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>