﻿@{
    ViewData["Title"] = "Edit comment";
}
@model CommentsModel

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-10">
            <h2 class="text-primary">Comments</h2>
        </div>
    </div>

    <div>
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Post Title
                    </th>
                    <th>
                        Post Content
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td width="33%">
                        @Model.Comment.Post.Title
                    </td>
                    <td width="49%">
                        @Model.Comment.Post.Content
                    </td>

                    <td width="18%" align="center">
                        <a asp-controller="Comments" asp-action="Create" class="btn btn-primary">
                            <i class="bi bi-plus-lg">Add comment</i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    
    <form asp-controller ="Comments" method="post" asp-action="Edit">
        
          <div>
              <div class="form-group">
            <label for="">Content</label>
            <input class="form-control" asp-for="Content" rows="3" />
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
           
            <button name="Submit" value="@Model.Comment.Id" class="btn btn-primary"> Save </button>
          <a asp-controller="Comments" asp-action="Delete" asp-route-postId="@Model.Comment.Post.Id" class="btn btn-secondary" style="width:150px">
                Delete
            </a> 
        </div>
    </form>
    <br/>

    <div>
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Comment Content
                    </th>
                    <th>
                        Created By
                    </th>
                    <th>

                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var comment in Model.Comments)
                {
                    <tr>
                        <td width="20%">
                            @comment.Content
                        </td>
                        <td width="30%">
                            @comment.User.Username
                        </td>

                        <td width="4%" align="center">
                            <a asp-controller="Comments" asp-action="Edit" asp-route-commentId="@comment.Id" class="btn btn-secondary">Edit</a>
                        </td>

                        <td width="4%" align="center">
                            <a asp-controller="Comments" asp-action="Delete" asp-route-commentId="@comment.Id" class="btn btn-secondary">Delete</a>
                        </td>

                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
